<h3> <%= @question.title %> </h3>
<p> <%= @question.text %> </p>
<p> Asked by: <%= @question.asker.name %></p>
<ul>
  <% @question.tags.each do |tag|  %>
    <li><%= tag.text %></li>
  <% end %>
</ul>
